.play_room{
	width: 800px ;height: 524px;margin:50px auto;position: relative;
	border: 1px solid red;
}
#timer{position: absolute;top: 20px;}
#score{position: absolute;top:60px}
table{border: 2px solid #999;margin: 0 auto;}
table tr td{width: 13px;
	height: 13px;
	line-height: 50px;
	font-size: 11px; 
	text-align: center; 
	color: red;
	background:#fff;}